<div class="container">
<div class="d-flex flex-wrap justify-content-center">
    <div *ngFor="let service of services"  class="card mr-2">
      <!--Card content-->
      <div class="card-body">
          <!--Title-->
          <h4 class="card-title">{{service.name}}</h4>
          <!--Text-->
          <a routerLink="/services/{{service._id}}" class="btn btn-primary waves-light" mdbWavesEffect>Подробнее</a>
          <a *ngIf="selectedServices.indexOf(service._id) === -1" (click)="selectService(service._id)" class="btn btn-primary waves-light" mdbWavesEffect>Выбрать</a>
          <a *ngIf="selectedServices.indexOf(service._id) !== -1" (click)="selectService(service._id)" class="btn btn-success waves-light" mdbWavesEffect>Выбран</a>
      </div>
    </div>
  </div>
  <div *ngIf="selectedServices.length > 0" class="text-center mt-3">
    <a routerLink="/specialists" class="btn btn-primary waves-light" mdbWavesEffect>Далее</a>
  </div> 
</div>